<table class="show">
  <tr>
    <th><%= @item.locale(:pref_id) %><%= required %></th>
    <td>
      <% pref_options = @item.pref_options %>
      <%= f.select :pref_id, options_for_select(@item.pref_options, @item.pref_id) %>
    </td>
  </tr>
  <tr>
    <th><%= @item.locale(:zone_id) %><%= required %></th>
    <td><%= f.select :zone_id, options_for_select(@item.zone_options(pref_options), @item.zone_id) %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:name) %><%= required %></th>
    <td><%= f.text_field :name, :size => 90 %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:code) %><%= required %></th>
    <td><%= f.text_field :code, :size => 90 %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:g) %><%= required %></th>
    <td><%= render :partial => 'system/admin/common/form_map', :locals => {:f => f, :item_city_id => "#item_pref_id"} %></td>
  </tr>
</table>
