<table class="show">
  <tr>
    <th><%= @item.locale(:web_state) %></th>
    <td><%=h safe{@item.web_state_show} %></td>
  </tr><tr>
    <th><%= @item.locale(:category) %></th>
    <td><%=h safe{@item.category_show} %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.locale(:caption) %></th>
    <td><%= @item.caption %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= @item.sort_no %></td>
  </tr><tr>
    <th><%= @item.locale(:upload) %>s</th>
    <td><%= image_tag(@item.file_uri) %></td>
  </tr>
</table>
