<table class="index">

  <tr>
    <th>詳細</th>
    <th style="width: ;">種別</th>
    <th style="width: ;">設定値</th>
    <th style="width: 80px;">更新日</th>
    <th>更新者</th>
  </tr>

  <% for item in @items %>
  <tr <%= cycle '', 'class=cycle' %>>
    <td class="showLink"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td><%=h item.kind_show %></td>
    <td><%=h item.value %></td>
    <td><%= safe{item.updated_at.strftime("%Y-%m-%d")} %></td>
    <td><%=item.updated_user%></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
