
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="shortcut icon" href="/images/favicon.ico"  />
<title><%= Page.title || @page_title %> - <%= Site.title -%></title>

<%
controller_js = @js ||  []

js_ret=''
controller_js.each{|x|js_ret += javascript_include_tag(x)+"\n"};
%>
<%=raw(js_ret)%>

<%
@css = @css || []
css_ret=''
@css.each{|x|css_ret+=stylesheet_link_tag(x, :media=>:all)+"\n"};
%>
<%=raw(css_ret)%>

<%
controller_dynamic_js = @dynamic_js ||  []
dynamic_js_ret=''
controller_dynamic_js.each{|x|dynamic_js_ret += javascript_include_tag url_for({:controller => x[:controller], :action => x[:action]})+"\n"};
%>
<%=raw(dynamic_js_ret)%>