<%= init_tiny_mce :readonly => true %>
<table class="show"><tr>
  <tr>
    <th><%= @item.locale(:web_state) %></th>
    <td><%= @item.web_state_show %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:title) %><%=required("")%></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:is_display_message) %></th>
    <td><%=@item.locale(:display_message) if @item.is_display_message == 1%></td>
  </tr>
  <tr>
    <th><%= @item.locale(:body) %></th>
    <td><%= text_area_tag 'body', @item.body, :class => 'mceEditor', :style => 'width:100%' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:user_kind) %></th>
    <td><%= @item.user_kind_show %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:admin_group_id) %></th>
    <td><%= safe{@item.admin_group.name}  %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:admin_user_id) %></th>
    <td>
    <%= safe{@item.admin_user.name} %></td>
  </tr>
</table>
<%= render :partial => 'gis/admin/common/operator'%>
<%= render :partial => 'gis/admin/common/index_layer'%>
<%= render :partial => 'gis/admin/common/index_map'%>

