<span class="actionMenu">
<% case params[:action] %>
<% when 'index' %>
  <%= button_to '編集', {:action => :new}, :method => :get%>
<% when 'new' %>
  <%= button_to '戻る', url_for({:controller => '/gis/admin/maps', :action => :show, :id=>@map.id}), :method => :get%>
<% when 'show' %>
  <%= button_to '戻る', {:action => :index}, :method => :get%>
  <%= button_to '編集', {:action => :edit} , :method => :get if @item.editable?%>
  <%= button_to '削除', {:action => :destroy}, :method => :delete, :confirm => '削除してよろしいですか？' if @item.deletable?%>
<% end %>
</span>
