<script type="text/javascript">
//<![CDATA[
(function($) {
  $(function() {
    $('#item_role_id').on('change', function(e) {
      var elm = $(this);
      $.get('<%= url_for(:action => :priv_options) %>', {role_id: elm.val()}, function(data) {
        $('#item_priv_id').html(data);
      });
    });
  });
})(jQuery);
//]]>
</script>

<table class="show">
  <tr>
    <th><%= @item.locale(:user_account) %></th>
    <td><%= safe{@item.user.account} %></td>
  </tr><tr>
    <th><%= @item.locale(:user_name) %></th>
    <td><%= safe{@item.user.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:role_id) %><%= required %></th>
    <td><%= f.select :role_id, options_for_select(@item.role_options, @item.role_id), :include_blank => true %></td>
  </tr><tr>
    <th><%= @item.locale(:priv_id) %><%= required %></th>
    <td><%= f.select :priv_id, options_for_select(@item.priv_options, @item.priv_id), :include_blank => true %></td>
  </tr>
</table>
