<%= form_tag url_for(:action => :create), {:id => 'itemForm'} do %>
  <%= error_messages_for :item %>
  <table class="index">
    <colgroup class="action"></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <tr>
      <th>行数</th>
      <th>すだちくんID</th>
      <th>氏名</th>
      <th>ロール名</th>
      <th>権限名</th>
      <th>エラー内容</th>
    </tr>
    <% @items.each_with_index do |item, i| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= i+2 %></td>
      <td><%= safe{item.user.account} %></td>
      <td><%= safe{item.user.name} %></td>
      <td><%= safe{item.role.role_code_with_name} %></td>
      <td><%= safe{item.priv.priv_code_with_name} %></td>
      <td><%= simple_error_messages_for item %></td>
    </tr>
    <% end %>
  </table>
  
  <% @items.each_with_index do |item, i| %>
    <% if item.errors.blank? %>
      <% item.attributes.each do |attr, value| %>
        <%= hidden_field_tag "items[#{i}][#{attr}]", value if value.present? %>
      <% end %>
    <% end %>
  <% end %>
  <%= button_tag '入力内容を修正する', :type => :button, :onclick => "document.location='#{url_for(:action => :new)}';" %>
  <%= submit_tag 'この内容で登録する' %>
<% end %>
