<table class="show">
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:priv_code) %></th>
    <td><%= @item.priv_code %></td>
  </tr>
</table>

<%= render :partial => 'system/admin/common/operator' %>

<%= button_to '戻る', {:action => :index}, :method => :get %>
