<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= render :partial => 'layouts/admin/gis/preview_map_header_tag' %>
</head>
<body <%= Page.body_id %>>
<div id="container">
<%= render :partial =>  'layouts/admin/gis/portal1_header' rescue nil if @map && @map.portal_kind == 1%>
<div id="contentBody">
<%= yield %>
</div>
<%= render :partial =>  'layouts/admin/gis/portal1_footer' rescue nil if @map && @map.portal_kind == 1%>
</div>
</body>
</html>
