<%=item_pagination(@next, @prev,@current_page,@total_page)%>
<table class="show">
<tr>
  <th><%= @item.locale(:state) %></th>
  <td>
    <%=@item.state_show -%>
  </td>
</tr><tr>
  <th><%= @item.locale(:web_state) %></th>
  <td>
    <%=@item.web_state_show -%>
  </td>
</tr>
<tr>
  <th><%= @item.locale(:name) %></th>
  <td><%=@item.name%></td>
</tr>
<tr>
  <th><%=@item.locale(:area_code)%></th>
  <td><%=@item.area_show%></td>
</tr>
<tr>
  <th><%=@item.locale(:address)%></th>
  <td><%=@item.address%></td>
</tr>
<tr>
  <th><%= @item.locale(:icon_kind) %></th>
  <td><span id="show_icon"><%=safe{image_tag(@item.icon.file_uri)}%></span></td>
</tr>
  <% column_config = @layer.get_option_column_hash
  for num in 1..50 do
    column_sym = "input_fld_#{num}".to_sym
    next if @item[column_sym].blank?
    label = @item.locale(column_sym)
    label = column_config[column_sym] if column_config && !column_config[column_sym].blank?
  %>
  <tr>
    <th><%= label %></th>
    <td><%= @item[column_sym] %></td>
  </tr>
  <%end%>




</table>
<table class="show">
  <th><%= @item.locale(:g) %></th>
  <td><%= render :partial => 'gis/admin/common/view_map' %></td>
</table>


<%= render :partial => 'gis/admin/layers/data/photo_show' %>
<%= render :partial => 'gis/admin/common/operator'%>