
    <%=safe{@map.message.html_safe}%>
    <hr />
    <h2><%=show_site_settings[:title]%>の注意事項と免責事項</h2>
<h3>注意事項について</h3>
(1) 本システムで提供する情報については、土地・建物等の境界を示すものではありません。また、表示の有無・表示位置・範囲・形状・名称等について、現況との誤差があることをあらかじめ理解した上でご利用ください。<br />
(2) 本システムで提供する情報については、利用者の権利又は義務の証明、手続・届出の資料等、利用者の特定の目的に適合することを保証するものではありません。<br />
(3) 地図で表示する情報については、その情報の更新に努めていますが、データ作成時及び更新の時期により現状と異なる場合があります。<br />
(4) ブラウザ及びインターネットへの接続環境によっては、一部の表示・機能が制限される場合があります。<br />
(5) 表示する地図情報の種類によっては、大量のデータ通信を行うため、表示するまでに時間がかかる場合があります。<br />
(6) 地図情報を複数重ねた場合、色が重複し正確な情報を得ることが難しくなるほか、縮尺によっては表示されない情報が存在しますので、閲覧の際は注意してください。<br />
　　<br />
<h3>免責事項について</h3>
(1) 本システムを利用することで利用者又は第三者に生じた一切の損害及び障害等については、<%=show_site_settings[:association_name]%>、ソフトウェア開発製作者、地図データ・画像・写真等製作者はその責任を負いません。<br />
(2) <%=show_site_settings[:association_name]%>はシステム保守などの場合を含めた諸事情により、本システムを予告なく変更又は一時停止もしくは完全に終了する場合があります。<br />
(3) 本システムには第三者が管理するウェブサイトへのリンクが含まれる場合があります。<%=show_site_settings[:association_name]%>はこれらのウェブサイトのいずれのコンテンツに関しても責任を負いません。<br />
<hr />

