<%
controller_title = translate_controller
action_title = translate_action
%>
<div class="navi">
<%= link_to 'トップページ', '/' %>
&gt; <%= link_to 'システム管理',   {:controller => 'system/admin/tops'} %>
&gt; <%= link_to 'エリア設定',     {:controller => 'system/admin/prefs'} %>
&gt; <%= link_to controller_title, {:controller => params[:controller]} %>
<%= " > #{action_title}" if action_title.present? %>
</div>
