<div id="contentPage">
  <div class="pieceHeader">お問い合わせ</div>
  <div class="pieceBody">
    <%for item in @items%>
      <p><%=safe{item.inquiry_department}%></p>
      <%if item.charge%><p><%=item.charge%></p><%end%>
      <%if item.tel%><p>電話</span>：<%=item.tel%></p><%end%>
      <%if item.fax%><p>ファクシミリ</span>：<%=item.fax%></p><%end%>
      <%if item.mail_to%><p>E-Mail</span>：<a href="mailto:<%=item.mail_to%>"><%=item.mail_to%></a></p><%end%>
      <br />
    <%end unless @items.blank?%>
  </div>
</div>