<span class="actionMenu">
<% case params[:action] %>
<% when 'index' %>
  <%= button_to '新規登録', {:action => :new}, :method => :get%>

<% when 'show' %>
  <%= button_to '戻る', {:action => :index}, :method => :get%>
  <%= button_to '編集', {:action => :edit} , :method => :get if @item.is_editable?%>
  <%= button_to '削除', {:action => :destroy}, :method => :delete, :confirm => '削除してよろしいですか？' if @item.deletable?%>
  <%= button_to 'レイヤーデータ登録', url_for({:controller=>"gis/admin/layers/data",:action => :index, :layer_id => @item.id}), :method => :get if @item.is_readable? && @item.editable_kind%>
  <%= button_to 'レイヤー描画設定', url_for({:controller=>"gis/admin/layers/legends",:action => :index, :layer_id => @item.id}), :method => :get if @item.is_readable? && @item.draw_editable_kind %>
  <%= button_to 'レイヤーデータ管理', url_for({:controller=>"gis/admin/layers/import_data",:action => :index, :layer_id => @item.id}), :method => :get if @item.is_readable? && @item.kind == "file"%>
<% end %>
</span>
