<% if @items.blank? %>
<div class="notice">表示対象がありません</div>
<% else %>
<table class="index">
  <tr>
    <th></th>
    <th>引継分類</th>
    <th>部局</th>
    <th>新所属</th>
    <th>引継元</th>
  </tr>
  <%for item in @items%>
  <tr>
    <td class="showLink"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td><%=item.kind_show%></td>
    <td><%=item.parent_code%><%=item.parent_name%></td>
    <td><%=item.code%><%=item.name%></td>
    <td><%=item.old_code%><%=item.old_name%></td>
  </tr>
  <% end %>
</table>
<%#= paginate @items %>
<% end %>
