
<table class="show">
  <tr>
    <th><%= @item.locale(:web_state) %></th>
    <td><%= f.radio_buttons :web_state, @item.web_status_select, :class => 'status' %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %><%= required %></th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr><tr>
    <th><%= @item.locale(:url) %><%= required %></th>
    <td><%= f.text_field :url, :class => 'string title' %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %><%= required %></th>
    <td><%= f.text_field :sort_no, :class => 'num IMEoff' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:parent_category_id) %></th>
    <td>
      <%= f.select(:parent_category_id_0, @item.parent_category_select({:include_blank=>true}), :selected=>@item.parent_category_id_0)%>
      <%= f.select(:parent_category_id_1, @item.parent_category_select({:include_blank=>true}), :selected=>@item.parent_category_id_1)%>
      <%= f.select(:parent_category_id_2, @item.parent_category_select({:include_blank=>true}), :selected=>@item.parent_category_id_2)%>
    </td>
  </tr><tr>
    <th><%= @item.locale(:upload) %><%= required %></th>
    <td><%= f.file_field :upload, :class => 'string title' %></td>
  </tr>
</table>
